.free-main{width: 1200px;margin: auto;display: flex;justify-content: space-between;
    .free-left{background-color: #f3f3f3;width: 300px;height: 320px;}
    .free-right{background-color: #f3f3f3;width: 855px;height: 1000px;
    p{color: #63686c;margin-left: 65px;line-height: 30px;}
    }
    h2{margin-left: 65px;margin-top: 20px;}
    p{color: #63686c;margin-left: 80px;line-height: 25px;}
}

