.report-main{width: 1200px;margin: auto;margin-top: 10px;display: flex;justify-content: space-between;}
.report-left{width: 840px;
.report-load{width: 840px;height: 22px;margin: auto;margin-top: 40px;
p{color: #ee8474;text-align: center;}}
.report-img{position: relative;
.report-left-1{width: 840px;height: 120px;position: absolute;z-index: 1;top: 311px; opacity: 0.8;background-color: #FFFFFF;border: 1px solid #E8E8E8;
p{font-size: 18px;margin-left: 20px;margin-top: 25px;color: #9c9398;}
}
}
}
.report-right{width: 324px;
p{color: #afaeaa;margin-left: 5px;line-height: 30px;margin-top: 10px;}
  .report-right-1 {width: 7px;height: 21px;background-color: #f8572b;margin-top: 18px; }
  .report-right-2 {width: 100px;height: 25px;font-size: 20px;margin-left: 30px;margin-top: -24px;}
}

